body{
    font-family: 'Courier New', Courier, monospace;
    background: #ece4e4;
}

/*Regla del menu*/
.menu{
    list-style: none;
    padding: 0;
    background: #049652f8;
    width: 100%;
    
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color:aliceblue;
    padding: 20px;
    display: block;
}
.menu li {
  display: inline-block;
  text-align: center;  
}
.menu li a:hover{
    background: #ef8354;
}